:root{
    --texto-light: black;
    --fondo-light:white;

    --texto-dark:white;
    --fondo-dark:black;
}
*{
    box-sizing: border-box;
    padding: 20;
    margin: 30;
}

html,body{
    width: 100%;
    height: 100%; 
 }


div#caja{
    width: 100%;
    height: 100%;
}

#cambiatema:checked + div#caja {
    background-color: var(--fondo-dark);
    color: var(--texto-dark);
}

ul{
    list-style-type: none;
}
.opcion > ul{
    display: none;
    margin: 10px 10px 10px 10px;
    background-color: gray;
    border: 1px solid red ;
    border-bottom: yellow;
    text-decoration: none;
    font-weight: bold;

    font-family: sans-serif;
}
.opcion:hover > ul{
    display: block;
}

li.opcion{

}
